
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/MinimalLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Привіт</h1>
    <p>Це поки що панель управління для тесту</p>
</div>
