@model BusinessLogic.DTOs.GenreDTO

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Create";
}

<div class="cinema-main">
    <h2>Створити жанр</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="card-stats" style="--index: 1;">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Назва жанру</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Створити" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Назад до списку</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}