@model BusinessLogic.DTOs.GenreDTO

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    ViewData["Title"] = "Details";
}

<div class="cinema-main">
    <h2>Деталі жанру</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="card-stats" style="--index: 1;">
                <dl class="row">
                    <dt class="col-sm-4">Назва жанру:</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>
                </dl>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Редагувати</a>
                    <a asp-action="Index" class="btn btn-secondary">Назад до списку</a>
                </div>
            </div>
        </div>
    </div>
</div>