@model IEnumerable<BusinessLogic.DTOs.GenreDTO>

@{
    Layout = "~/Views/Shared/MinimalLayout.cshtml";
    ViewData["Title"] = "Genres";
}

<h1>Жанри</h1>

<p>
    <a asp-action="Create">Додати новий жанр</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Назва жанру
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагування</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалення</a>
            </td>
        </tr>
}
    </tbody>
</table>
