@model BusinessLogic.DTOs.RegisterDTO

<div class="form-box register">
    <form asp-action="Register" method="post">
        <img class="logo-register" src="~/image/homepage/logo_upscale.png" alt="logo">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="input-box">
            <input asp-for="FirstName" placeholder="Ім'я" required>
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input asp-for="LastName" placeholder="Прізвище" required>
            <span asp-validation-for="LastName" class="text-danger"></span>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input asp-for="RegisterEmail" placeholder="Ел. пошта" required>
            <span asp-validation-for="RegisterEmail" class="text-danger"></span>
            <i class='bx bxs-envelope'></i>
        </div>
        <div class="input-box">
            <input asp-for="PhoneNumber" placeholder="Номер телефону" required>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            <i class='bx bxs-phone'></i>
        </div>
        <div class="input-box">
            <input asp-for="RegisterPassword" placeholder="Пароль" required id="registerPassword" type="password">
            <span asp-validation-for="RegisterPassword" class="text-danger"></span>
            <i class='bx bxs-hide' id="toggleRegisterPassword"></i>
        </div>
        <div class="input-box">
            <input asp-for="ConfirmPassword" placeholder="Підтвердження паролю" required id="confirmPassword" type="password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <i class='bx bxs-hide' id="toggleConfirmPassword"></i>
        </div>
        <button type="submit" class="btn">Зареєструватись</button>
        <div class="forgot-link">
            <a class="transition-link" asp-controller="Home" asp-action="Index">Повернутися на головну</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/authpage.js"></script>
}
