@{
    var hideHeader = ViewData["HideHeader"] as bool?;
    var hideFooter = ViewData["HideFooter"] as bool?;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - КіноМанія</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/css/admin-panel/Admin-panel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/minimal.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Cinema_app.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="sidebar">
                <h4>Admin-panel</h4>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="active"><i class="fas fa-tv"></i></i><span>Головна</span></a>
                <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="active"><i class="fas fa-tachometer-alt"></i><span>Дашборд</span></a>
                <a asp-area="" asp-controller="Genres" asp-action="Index"><i class="fas fa-tags"></i><span>Жанри</span></a>
                <a asp-area="" asp-controller="MovieStatus" asp-action="Index"><i class="fas fa-info-circle"></i><span>Статус фільму</span></a>
                <a asp-area="" asp-controller="Movies" asp-action="Index"><i class="fas fa-video"></i><span>Фільми</span></a>
                <a asp-area="" asp-controller="MoviePrices" asp-action="Index"><i class="fa-solid fa-hryvnia-sign"></i><span>Ціна фільму</span></a>
                <a asp-area="" asp-controller="Rooms" asp-action="Index"><i class="fas fa-door-open"></i><span>Кінозали</span></a>
                <a asp-area="" asp-controller="Seats" asp-action="Index"><i class="fas fa-chair"></i><span>Місця</span></a>
                <a asp-area="" asp-controller="Sessions" asp-action="Index"><i class="fas fa-film"></i><span>Сеанси</span></a>
                <a asp-area="" asp-controller="ReservationStatus" asp-action="Index"><i class="fas fa-clipboard-check"></i><span>Статус бронювання</span></a>
                <a asp-area="" asp-controller="Reservations" asp-action="Index"><i class="fas fa-ticket-alt"></i><span>Бронювання</span></a>
            </nav>

            <!-- Main content -->
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/0622465ad0.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>