@using BusinessLogic.DTOs
@{
    var hideHeader = ViewData["HideHeader"] as bool?;
    var hideFooter = ViewData["HideFooter"] as bool?;
}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    @if (hideHeader == null || !hideHeader.Value)
    {
        <div class="container">
            <header class="">
                <div class="navbar">
                    <button class="navbar-menu-btn">
                        <span class="one"></span>
                        <span class="two"></span>
                        <span class="three"></span>
                    </button>

                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <img class="logo1" src="~/image/homepage/Logo.png" alt="logo">
                    </a>

                    <nav class="">
                        <ul class="navbar-nav">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-link">Головна</a></li>
                            @if (User.Identity?.IsAuthenticated == true)
                            {
                                @if (User.IsInRole(UserStatusDTO.Admin)) {
                                    <li><a asp-area="" asp-controller="Dashboard" asp-action="Index" class="navbar-link">АдмінПанель</a></li>
                                }
                                <li class="navbar-link">
                                    <a asp-area="" asp-controller="UserProfile" asp-action="Index" class="btn btn-link text-white navbar-signin transition-link">
                                        <ion-icon name="person"></ion-icon>
                                    </a>
                                </li>
                                <li class="navbar-link">
                                    <form asp-area="" asp-controller="Auth" asp-action="Logout" method="post" class="navbar-signin">
                                        <button type="submit" class="btn btn-link text-white navbar-signin transition-link">
                                            <span>Вихід</span>
                                            <ion-icon name="log-out"></ion-icon>
                                        </button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="navbar-link">
                                    <a class="text-white navbar-signin transition-link" asp-area="" asp-controller="Auth" asp-action="Index">
                                        <span>Вхід</span>
                                        <ion-icon name="log-in"></ion-icon>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                    @if (ViewData["HideSearch"] == null || !(bool)ViewData["HideSearch"])
                    {
                    <div class="navbar-actions">
                        <form action="#" class="navbar-form">
                            <input type="text" name="search" placeholder="Я шукаю..." class="navbar-form-search" id="search">

                            <button class="navbar-form-btn">
                                <ion-icon name="search"></ion-icon>
                            </button>

                            <button class="navbar-form-close">
                                <ion-icon name="close-circle-outline"></ion-icon>
                            </button>
                        </form>

                        <button class="navbar-search-btn">
                            <ion-icon name="search"></ion-icon>
                        </button>
                        <ul class="navbar-nav">
                           
                        </ul>
                    </div>
                    }
                </div>
            </header>
        </div>
    }
    <div class="container2">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (hideFooter == null || !hideFooter.Value)
    {
        <footer>

            <div class="footer-content">
                <div class="footer-brand">
                    <img src="~/image/homepage/Logo.png" alt="image" class="footer-logo">

                </div>

                <div class="footer-links">
                    <ul>
                        <h4 class="link-heading">КіноМанія</h4>

                        <li class="link-item"><a href="#">Про нас</a></li>
                        <li class="link-item"><a href="#">Тарифи</a></li>
                        <li class="link-item"><a href="#">Контакти</a></li>
                        <li class="link-item"><a href="#">123 </a></li>
                    </ul>

                    <ul>
                        <h4 class="link-heading">Перегляд</h4>

                        <li class="link-item"><a href="#">1</a></li>
                        <li class="link-item"><a href="#">2</a></li>
                        <li class="link-item"><a href="#">3</a></li>
                        <li class="link-item"><a href="#">4</a></li>
                    </ul>

                    <ul>
                        <h4 class="link-heading">Контент</h4>

                        <li class="link-item"><a href="#">1</a></li>
                        <li class="link-item"><a href="#">2</a></li>
                        <li class="link-item"><a href="#">3</a></li>
                        <li class="link-item"><a href="#">4</a></li>
                    </ul>

                    <ul>
                        <h4 class="link-heading">Допомога</h4>

                        <li class="link-item"><a href="#">Акаунт та оплата</a></li>
                        <li class="link-item"><a href="#">Тарифи та ціни</a></li>
                        <li class="link-item"><a href="#">3</a></li>
                        <li class="link-item"><a href="#">4</a></li>
                    </ul>
                </div>
            </div>


        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/page_animation.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

