@model BusinessLogic.DTOs.SessionDTO

@{
    Layout = "~/Views/Shared/MinimalLayout.cshtml";
    ViewData["Title"] = "Edit";
}

<h4>Сеанс</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MovieId" class="control-label">Назва фільму</label>
                <select asp-for="MovieId" class="form-control" asp-items="ViewBag.MovieId" id="movieSelect"></select>
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoviePriceId" class="control-label">Ціна квитка</label>
                <select asp-for="MoviePriceId" class="form-control" asp-items="ViewBag.MoviePriceId" id="priceSelect"></select>
                <span asp-validation-for="MoviePriceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label">Назва кімнати</label>
                <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Дата сеансу</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label">Час початку</label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function() {
            $('#movieSelect').change(function() {
                var movieId = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetPrices", "Sessions")',
                    type: 'GET',
                    data: { movieId: movieId },
                    success: function(data) {
                        var priceSelect = $('#priceSelect');
                        priceSelect.empty();
                        $.each(data, function(index, price) {
                            priceSelect.append($('<option>', {
                                value: price.id,
                                text: price.moviePriceName
                            }));
                        });
                    }
                });
            });
        });
    </script>
}

